*, *::after, *::before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, p {
  font-family: $main-font;
  color:$font-color;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
}

// common classes
.left{
  float: left;
}

.right{
  float:right;
}

.clear_both{
  clear: both;
}

.center{
  width:100%;
  margin: auto;
}
