div.lost {
    width: 100vw;
    margin: auto;

    div.main_landing {
        div.landing_title {
            top: 16%;

            h2 {
                font-size: 300px;

                &:last-child {
                    margin-left: 400px;
                }
            }
        }

        div.css_logo {
            width: 200px;
            height: 200px;
            border: 5px solid #fff;
            border-radius: 50%;
            animation: logo_rotate linear 10s infinite forwards;
            position: absolute;
            top: 25%;
            left: 43%;

            div.circle {
                display: inline-block;
                border: 4px solid #fff;
                border-radius: 50%;
                background-color: #000;

                &:first-child {
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    top: 80%;
                    left: 7%;
                }

                &:last-child {
                    width: 43px;
                    height: 43px;
                    position: absolute;
                    top: 9%;
                    left: 80%;
                }
            }
        }

        div.landing_speech {
            top: 55%;
            left: 35%;
            width: 630px;
            font-size: 20px;
            letter-spacing: 3px;
        }

        div.landing_button {
            top: 65%;
            left: 45%;
            padding: 14px 47px;
        }
    }
}
